! general settings
URxvt*saveline:         15000
URxvt*termName:         rxvt-256color
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*iconFile: /usr/share/icons/Papirus/64x64/apps/terminal.svg

! appearance
URxvt*depth:            32
!URxvt*background:      rgba:0000/0000/0000/AAAA
!URxvt*background:      [90]#1F2326
!URxvt*background:       [100]#B6A49B
!URxvt*foreground: 		                #c0b18b
!URxvt.underlineColor:   #4682B4
!URxvt.highlightColor:   #4682B4
!URxvt.throughColor:     Blue
!URxvt*cursorColor:      2b303b
!URxvt*cursorColor2:     Black
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt*internalBorder:   0
URxvt*externalBorder:   0
!URxvt.colorIT:      #87af5f
!URxvt.colorBD:      #d7d7d7
!URxvt.colorUL:      #87afd7

! special
*.foreground:   #b6a49b
*.background:   #3d3c3b
*.cursorColor:  #b6a49b

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #b6a49b
*.color9:       #b6a49b

! green
*.color2:       #b6a49b
*.color10:      #b6a49b

! yellow
*.color3:       #b6a49b
*.color11:      #b6a49b

! blue
*.color4:       #b6a49b
*.color12:      #b6a49b

! magenta
*.color5:       #b6a49b
*.color13:      #b6a49b

! cyan
*.color6:       #b6a49b
*.color14:      #b6a49b

! white
*.color7:       #b6a49b
*.color15:      #c5c8c6


! fonts
URxvt*letterSpace: 	    		-1
!Xft.size:						12
URxvt*font:                 	xft:Ubuntu Mono:regular:size=8
URxvt*imFont:               	xft:Ubuntu Mono:regular:size=8
URxvt*boldFont:             	xft:Ubuntu Mono:bold:size=8
URxvt*italicFont:           	xft:Ubuntu Mono:italic:size=8
URxvt*boldItalicFont:     		xft:Ubuntu Mono:regular:size=8
! run :.!fc-list | grep <font-name>

! perl extensions
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select
!URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for clipboard and selection
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.S-C-V: 	perl:clipboard:paste
!URxvt.keysym.M-C-v:    perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt.geometry: 		75x23

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt*buffered:         false




! ------------------------------------------------------------------------------
! ROFI Details
! ------------------------------------------------------------------------------

rofi.font:              Pilcrow 20
rofi.color-enabled: true
! 					'background', 'border', 'dividing line'
rofi.color-window: 	#3D3C3B, 	  #B6A49B, 	   #B6A49B
! 					'bg', 	  'fg' 	 'bgalt'   'hlbg' 	'hlfg'
rofi.color-normal: #3D3C3B, #B6A49B, #3D3C3B, #B6A49B, #3D3C3B
rofi.color-active: #B6A49B, #3D3C3B, #B6A49B, #3D3C3B, #B6A49B
rofi.color-urgent: #B6A49B, #3D3C3B, #B6A49B, #3D3C3B, #B6A49B
rofi.separator-style:   none
rofi.modi: drun,run,window,ssh
rofi.fullscreen:        false
rofi.padding:           10
rofi.hide-scrollbar:    true
rofi.line-margin:       2
rofi.yoffset:           00
rofi.xoffset:           0
rofi.width:            1920
rofi.lines:            20

!--------------------------------------------
! Custom DPI
!--------------------------------------------
!Xft.dpi: 144
Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 	true
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 32
